version: '3'

services:
  teledrive:
    restart: unless-stopped
    command: bash -c "export NODE_OPTIONS='--openssl-legacy-provider --no-experimental-fetch' && yarn api prisma migrate deploy || yarn api prisma migrate resolve --applied "20220420012853_init" && node api/dist/index.js"
    labels:
      traefik.enable: true
      traefik.http.routers.server.rule: Host(`teledrive.localhost`)
      traefik.port: 4000
    networks:
      - traefik
    build:
      context: ../.
      dockerfile: Dockerfile
      args:
        REACT_APP_TG_API_ID: ${TG_API_ID}
        REACT_APP_TG_API_HASH: ${TG_API_HASH}
    environment:
      DATABASE_URL: postgres://postgres:${DB_PASSWORD}@db:5432/teledrive?connect_timeout=60&pool_timeout=60&socket_timeout=60
      REDIS_URI: redis://redis:6379
    depends_on:
      - db
      - redis

  db:
    image: postgres:13
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: teledrive
    volumes:
      - teledrive-data:/var/lib/postgresql/data

  redis:
    image: redis:6
    restart: unless-stopped

volumes:
  teledrive-data:

networks:
  traefik:
    external: true
